@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-marquee {
    animation: marquee 40s linear infinite;
  }

  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-250%); }
  }
}

@layer utilities {
  .hovered {
    transform: scale(1.5) translate(-50%, -50%);
    border-color: #000000; /* Lighter amber */
  }
}


/* img {
  display: inline-block;
  max-width: unset;
} */
